<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My ToDo App</title>
    <style>
      body {
        font-family: sans-serif;
        background: #f1f1f1;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
        "
      >
        <h1>My ToDo App</h1>
        {% include 'menu.html' %}
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        {% block content %}
        <p>Place your content here</p>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
